[submodule "3rd/stb"]
	path = 3rd/stb
	url = https://github.com/nothings/stb.git
[submodule "3rd/vma"]
	path = 3rd/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "3rd/imgui"]
	path = 3rd/imgui
	url = https://github.com/ocornut/imgui.git
	branch = remote/v1.90.3
[submodule "3rd/ImGuiFileDialog"]
	path = 3rd/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "3rd/ImGuiColorTextEdit"]
	path = 3rd/ImGuiColorTextEdit
	url = https://github.com/spaceape3001/ImGuiColorTextEdit.git
[submodule "3rd/tinygltf"]
	path = 3rd/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "3rd/tinyobj"]
	path = 3rd/tinyobj
	url = https://github.com/tinyobjloader/tinyobjloader.git
